<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabai.proxy.dao.PolicyInfoMapper">
  <resultMap id="BaseResultMap" type="com.dabai.proxy.po.PolicyInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="use_id" jdbcType="BIGINT" property="useId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="policy_status" jdbcType="TINYINT" property="policyStatus" />
    <result column="commission_amount" jdbcType="DECIMAL" property="commissionAmount" />
    <result column="policy_no" jdbcType="VARCHAR" property="policyNo" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="insure_name" jdbcType="VARCHAR" property="insureName" />
    <result column="assured_name" jdbcType="VARCHAR" property="assuredName" />
    <result column="ensure_time" jdbcType="INTEGER" property="ensureTime" />
    <result column="premium" jdbcType="DECIMAL" property="premium" />
    <result column="start_date" jdbcType="VARCHAR" property="startDate" />
    <result column="end_date" jdbcType="VARCHAR" property="endDate" />
    <result column="ele_policy_addr" jdbcType="VARCHAR" property="elePolicyAddr" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, use_id, order_id, policy_status, commission_amount, policy_no, product_code, 
    product_name, insure_name, assured_name, ensure_time, premium, start_date, end_date, 
    ele_policy_addr, ctime, utime
  </sql>
</mapper>