<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabai.proxy.dao.UserActionCustomMapper">

    <select id="selectByOrgAndDate" resultType="com.dabai.proxy.po.UserAction">
        select *
        from user_action p
        LEFT JOIN user_plateform_info a ON p.user_id = a.user_id
        WHERE 1 = 1
        <if test="organizationCode != null and organizationCode != ''">
            AND a.organization_code like concat(#{organizationCode}, '%')
        </if>
        <if test="startTime != null and endTime != null">
            and p.ctime BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="action != null and action > 0">
            and p.action = #{action}
        </if>
    </select>
    <select id="selectLoginUser" resultType="java.lang.Long">
        select distinct a.user_id from user_action a
        left join user_plateform_info p ON a.user_id = p.user_id
        where a.action = 1
        <if test="organizationCode != null and organizationCode != ''">
            AND p.organization_code like concat(#{organizationCode}, '%')
        </if>
        <if test="startTime != null and endTime != null">
            and a.ctime BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="userIds != null and userIds.size() > 0">
            and a.user_id in
            <foreach collection="userIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>