<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabai.proxy.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.dabai.proxy.po.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="union_id" jdbcType="VARCHAR" property="unionId" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="parent_user_id" jdbcType="BIGINT" property="parentUserId" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, nick_name, open_id, mobile, gender, city, province, country, avatar_url, union_id, 
    id_card, bank_card, name, bank_name, parent_user_id, valid, ctime, utime
  </sql>
</mapper>