<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dabai.proxy.dao.WalletInfoMapper">
  <resultMap id="BaseResultMap" type="com.dabai.proxy.po.WalletInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="available_amount" jdbcType="DECIMAL" property="availableAmount" />
    <result column="cashed_amount" jdbcType="DECIMAL" property="cashedAmount" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="last_cash_time" jdbcType="TIMESTAMP" property="lastCashTime" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="cashing_amount" jdbcType="DECIMAL" property="cashingAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, available_amount, cashed_amount, total_amount, last_cash_time, ctime, 
    utime, cashing_amount
  </sql>
</mapper>